@import "https://fonts.googleapis.com/css?family=Montserrat:500,500i,600,600i,700,700i,800,800i,900,900i";
@import "https://fonts.googleapis.com/css?family=Architects+Daughter";
body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: 'Montserrat';
	width: 100%;
	height: 100%;
}

h3 {
    text-transform: uppercase;
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
}

#main-content {
	width: 490px;
}

#main-content h3:before {
	padding-right: 0;
	margin-left: 0;
    content: none;
}

#main-content h3 {
	margin-top: 24px;
	margin-bottom: 8px;
	font-family: 'Architects Daughter';
	font-size: 25px;
	font-weight: bold;
	color: #474747;
	text-indent: 3px;
}

#main-content h3:before {
	padding-right: 0.3em;
	margin-left: -2em;
	content: "///";
	color: #9ddcff;
}

desc {
    font-size: 1.5rem;
    font-weight: 800;
	width: 490px;
	margin-top: 24px;
	margin-bottom: 8px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'Architects Daughter';
	font-size: 20px;
	color: #474747;
}

lab {
    font-size: 1.5rem;
    font-weight: 800;
	width: 490px;
	margin-top: 24px;
	margin-bottom: 8px;
	font-family: 'Architects Daughter';
	font-size: 20px;
	color: #474747;
}

success {
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
	width: 490px;
	margin-top: 24px;
	margin-bottom: 8px;
	font-family: 'Architects Daughter';
	font-size: 20px;
	font-weight: bold;
	color: #474747;
	color:green;
}

.container {
	margin: 0
}

.line {
	padding: 10px;
	border-top: 1px solid #ededed;
}

.copyright {
	padding: 1rem;
	text-align: right;
	font-weight: 700;
	font-size: .75rem;
	margin-top: 0rem
}

.footer {
	padding: 1rem;
	text-align: center;
	font-weight: 700;
	font-size: .75rem;
	margin-top: 0rem
}

.form {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.input {
    width: 100%;
    border: 1px solid #efefef;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0px;
    outline: none;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    background: #fafafa;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 18px;
    margin-top: 1px;
}

.input:focus {
    border: 1px solid #b2b2b2;
}

.button {
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    margin-top: 10px;
}
